.buttonContainer{

    
    display: flex;
    justify-content: center;

    height: auto;
    padding: 20px;
    
  
    }

    .LoadMoreButton{
        width: 500px;
        font-size: 60px;
        background-color: rgb(13, 19, 136);
        color: white;
    }